body {
    font-family: Arial;
    margin: 50px;
    background: #f4f4f4;
}
.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    shadow: 2px 2px 10px #ccc;
}

.status-up {
    color: green;
    font-weight: bold;
}

.status-down {
    color: red;
    font-weight: bold;
}