<!DOCTYPE html>
<html>
<head>
    <title>Automation Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="card">
        <h1>System Monitor</h1>
        <hr>
        <h3>Registered Services:</h3>
        <ul>
            {% for name, status in services.items() %}
                <li>{{ name }}:
                    <span class="{{ 'status-up' if status == 'Online' else 'status-down' }}">
                        {{ status }}
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="card" style="margin-top: 20px">
        <h3>Manual Action</h3>
        <form action="/run-script" method="post">
            <button type="submit" style="margin: 10px; cursor: pointer;">
                RunScript
            </button>
        </form>
    </div>
    <div class="card" style="margin-top: 20px">
        <form action="/open-url" method="post">
            <input type="text" name="site-url" placeholder="Enter your URL">
            <button type="submit">Open url</button>
        </form>
    </div>
</body>
</html>